---
import {Icon} from "astro-icon/components"
---

<footer>
    <div class="bg-gray-800 p-8">

    </div>
    <div class="bg-gray-900 px-8 py-4 text-gray-400 text-sm justify-items-center items-center">
        <p class="flex gap-2">Derechos Reservados - Diseñado con <Icon name="mdi:heart" size={18}/> por Joaquin</p>
    </div>
</footer>